body {
    background: black;
}

.app {
    min-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}

.umm {
    height: 90vh;
    overflow: hidden;
    background: blue;

    .background {
        position: relative;
        left: 0;
        width: 100%;
    }
}
