.section {
    background: black;
    padding: 0 24px 120px 24px;  
    position: relative;
    max-width: 400px;
    margin: 0 auto;

    

    .sub-text {
        color: white;
        position: relative;
        z-index: 1;
    }

    .divider-line {
        position: absolute;
        width: 120vw;
        left: -10%;
        right: 0;
        bottom: 0;


    }

    .divider-lol {
        background: url('../images/phat-line.svg');
        background-repeat: no-repeat;
        position: absolute;
        bottom: -80px;
        left: -10%;
        width: 120vw;
        height: 300px;

        @media screen and (min-width: 768px) {
            bottom: -130px;
            left: -50%;
            width: 150vw;
            height: 450px;
        }

        @media screen and (min-width: 1024px) {
            bottom: -160px;
            left: -80%;
            width: 120vw;
            height: 520px;
        }
    }
}