body {
    background: blue;
}

.app {
    // max-width: 1260px;
    min-height: 100vh;
    margin: 0 auto;
}

.umm {
    height: 90vh;
    overflow: hidden;
    background: blue;

    .background {
        position: relative;
        left: 0;
        width: 100%;
    }
}
