.hero-button {
    pointer-events: all;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 7px;
    width: 160px;
    margin: 0 auto;
    text-align: center;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

    &.donate {
        border-color: white;
        margin: 0;

        &:nth-child(2) {
            margin: 24px 0;
        }

        a {
            color: blue;
        }
    }

    &.reviews {
        float: right;
        position: relative;
        top: -80px;
        background: transparent;
        font-family: 'IBM Plex Mono';
        border: white solid 1px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    a {
        text-decoration: none;
        font-size: 12px;
        font-style: none;
        font-family: 'IBM Plex Mono';
        color: black;
    }

    .icon {
        width: 20px;
        margin-top: -3px;
    }
}