.logo-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px 10px;
    margin-top: 42px;

    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    img {
        height: 50px;
        filter: grayscale(100%);
    }
}