.counter {
    margin-top: 70px;
    span {
        color: white;
        text-align: center;
        padding: 20px 10px;
        border: 1px solid white;
        border-radius: 10px;
        margin-right: 24px;
    }
}