header {
    background: linear-gradient(118deg, #0400ff, #0077ff);
    background-size: 400% 400%;
    
    animation: AnimationName 5s ease infinite;

    @keyframes AnimationName {
        0% { background-position:0% 50% }
        50% { background-position:100% 50% }
        100% { background-position:0% 50% }
    }

    margin-bottom: 120px;
    .menu {
        background: white;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(100vh - 64px);
        padding: 0 24px;

        .hero-logo {
            max-width: 600px;
            width: 100%;
        }
    
        .hero-sub {
            max-width: 410px;
            margin-top: 0;
            font-size: 22px;
            color: black;
            text-align: center;
        }
    }

    
}

* {
    color: white!important;
}