.reviews-carousel {
    display: flex;
    overflow-x: visible;
    transition: transform 0.3s ease;

    .review {
        min-width: 44%;
        margin: 0 24px;

        &:nth-child(1) {
            margin: 0 24px 0 0;
        }

        p {
            font-size: 22px;
            color: white;
        }
    }
}