.reviews-carousel {
    display: flex;
    animation: moveSlideshow 30s linear infinite;
    transform: translate3d(0, 0, 0);
    margin-bottom: 100px;

    @media screen and (min-width: 600px) {
        margin-bottom: 0;
    }

    @keyframes moveSlideshow {
        0% { 
            transform: translateX(0%);
        }
        10% {
            transform: translateX(0%); 
        }
        97% { 
          transform: translateX(-100%);
        }
        100% { 
            transform: translateX(0%);
        }
    }

    .review {
        min-width: 280px;
        margin: 0 32px;

        &:nth-child(1) {
            margin: 0 24px 0 0;
        }

        p {
            font-size: 22px;
            color: white;

            &:nth-child(2) {
                font-size: 16px;
                font-style: italic;
            }
        }
    }
}