.video {
    @media screen and (min-width: 768px) {
        min-width: 750px;
        margin: 0 auto;
        position: relative;
        left: -20px;
        margin-top: 80px;
    }

    &.video-section {
        margin-bottom: 0!important;
    }
}